@(accounts: Seq[models.Account])(implicit user: models.User)
@views.html.admin.common.box("Список аккаунттов")("table-responsive") {
<div class="input-group" style="width: 150px;">
  <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
  <div class="input-group-btn">
    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>	
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Loing</th>
    <th>Email</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Insta login</th>
    <th>Insta pass</th>
    <th>Insta id</th>
    <th></th>
  </tr>
  @for(t <- accounts) {
  <tr>
    <td>@t.id</td>
    <td>@t.login</td>
    <td>@t.email</td>
    <td>@t.name</td>
    <td>@t.surname</td>
    <td>@t.instalogin</td>
    <td>@t.pass</td>
    <td>@t.accountId</td>
    <td><a href="@controllers.routes.AccountsController.account(t.ownerId, t.id)">смотреть</a></td>
  </tr>
  }
</table>
}