@(accountAPI: models.AccountAPI, activeBots: Seq[(controllers.modules.robots.IBEFEBotHelper, controllers.modules.robots.IBEFEBotDescriptor)])(implicit user: models.User)
@if(activeBots.length > 0) {
@views.html.admin.common.box("Список активных роботов")("table-responsive") {
<div class="input-group" style="width: 150px;">
  <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
  <div class="input-group-btn">
    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>	
} {
<table class="table table-hover">
  <tr>
  	<th>Имя</th>
  	<th>Описание</th>
  	<th>Состояние</th>
  	<th></th>
  </tr>
  @for(t <- activeBots) {
  <tr>
  	<td>@t._2.name</td>
  	<td>@t._2.descr</td>
  	@defining(t._1.status) { status =>
  	<td>@robotState(status)</td>
  	<td>@robotStateButtons(status, t._1.uid)</td>
  	}
  </tr>
  }
</table>
}
}