@(log: String)(implicit user: models.User, flash: Flash)
@views.html.admin.commonDashboard(Array("...", "Лог")) {
  @views.html.admin.utils.boxWithTitleRow12Lg("") {
    <form role="form">
      <div class="form-group">
        <label>Log</label>
        <textarea id="log-textarea" class="form-control" rows="10" disabled>@log</textarea>
      </div>
    </form>
  }
} {
  @views.html.admin.scripts()
  <script type="text/javascript">
    $(document).ready(function(){
	  $('#log-textarea').scrollTop($('#log-textarea')[0].scrollHeight);
	});
  </script>
} {
  @views.html.admin.head()
}
