@(api: models.AccountAPI)(implicit user: models.User, flash: Flash)
@views.html.admin.defaultCommonDashboard(Array("Аккаунт")) {
@views.html.admin.common.box("Аккаунт")("table-responsive") {
<div class="input-group" style="width: 150px;">
  <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
  <div class="input-group-btn">
    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>	
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>version</th>
    <th>device ID</th>
    <th>GUID</th>
    <th>Proxy IP</th>
    <th>Proxy port</th>
    <th>Proxy login</th>
    <th>Proxy pass</th>
  </tr>
  <tr>
    <td>@api.id</td>
    <td>@api.name</td>
    <td>@api.version</td>
    <td>@api.deviceId</td>
    <td>@api.guid</td>
    <td>@if(api.proxy.isDefined) { @api.proxy.get.getIP }</td>
    <td>@if(api.proxy.isDefined) { @api.proxy.get.getPort }</td>
    <td>@if(api.proxy.isDefined) { @api.proxy.get.getLogin }</td>
    <td>@if(api.proxy.isDefined) { @api.proxy.get.getPass }</td>
  </tr>
</table>
} 
}