@(ownerUser: models.User, accountAPI: models.AccountAPI, robots: Seq[controllers.modules.robots.IBEFEBotDescriptor])(implicit user: models.User)
@views.html.admin.common.box("Список доступных роботов")("table-responsive") {
<div class="input-group" style="width: 150px;">
  <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
  <div class="input-group-btn">
    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>	
} {
<table class="table table-hover">
  <tr>
  	<th>Имя</th>
  	<th>Описание</th>
  	<th></th>
  </tr>
  @for(t <- robots) {
  <tr>
  	<td>@t.name</td>
  	<td>@t.descr</td>
  	<td><a href="@controllers.routes.BotsController.botCreate(ownerUser.id, accountAPI.accountId, t.name)">добавить</a></td>
  </tr>
  }
</table>
}