@()(implicit userOpt: Option[User])
@app.main("переводчик") { } { @app.common.rowXS12Box { @app.common.rowXS12Box {
	
<div class="row">
  <div class="col-lg-4 col-xs-12 col-sm-12 form-group">
    <label for="id-text-to-translate">Текст</label>
    <textarea class="form-control input-lg" type="text" rows="6" id="id-text-to-translate" tooltip="Текст для перевода"></textarea>
  </div>
  <div class="col-lg-4 col-xs-12 col-sm-12 form-group">
    <label for="id-splitted-words">Разбивка по словам</label>
    <textarea class="form-control input-lg" type="text" rows="6" id="id-splitted-words" tooltip="Текст разбитый на слова"></textarea>
  </div>
  <div class="col-lg-4 col-xs-12 col-sm-12 form-group">
    <label for="id-translated">Перевод</label>
    <textarea class="form-control input-lg" type="text" rows="6" id="id-translated" tooltip="Перевод"></textarea>
  </div>
</div>
	
} } } {
<script src="@routes.Assets.versioned("javascripts/translator_api.js")" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	new TranslateOperator("#id-text-to-translate", "#id-splitted-words", "#id-translated").start();
});
</script>
}