<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<title>DS13 Admin</title>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main_admin.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/ionicons/css/ionicons.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/alte/AdminLTE.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/alte/skins/skin-blue.min.css")">
<!--[if lt IE 9]>
    <script src="@routes.Assets.versioned("lib/html5shiv/html5shiv.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/respond/respond.min.js")"></script>
<![endif]-->
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">