@()(implicit user: models.User, flash: Flash)
@views.html.admin.commonDashboard(Array("Медиа", "Список")) {
@views.html.admin.common.box("Загрузка медиафайлов")("") { } {
<form action="controllers.modules.routes.Media.upload()" class="dropzone" id="media-files-upload" enctype="multipart/form-data"></form>
}
@views.html.admin.common.box("Список пользователей")("table-responsive") { } { 
<ul class="images-list clearfix">
  @for(i <- 0 to 9) {
  <li>
    <img src="/assets/images/guest_vendetta.jpg" alt="User Image">
    <a class="images-list-name" href="#">Alexander Pierce</a>
    <span class="images-list-date">Today</span>
  </li>
  }
</ul>	
}
} { 
  @views.html.admin.scripts()
  <script src="@routes.Assets.versioned("lib/dropzone/min/dropzone.min.js")" type="text/javascript"></script>
  <script>
  $(function() {
    Dropzone.options.mediaFilesUpload = {
      init: function() {
            this.on("success", function(file, response) { 
          file.uploadedId = response; 
        });
            this.on("removedfile", function(file) { 
          jsRoutes.controllers.modules.Media.remove(file.uploadedId).ajax({
            error: function() {
              alert("Нвозможно удалить");
            }
          });
        });
      },
      parallelUploads: 1,
      paramName: "file", 
      maxFilesize: 2,
      addRemoveLinks: "dictRemoveFile" 
    };
  });
  </script>  
} { 
  @views.html.admin.head()
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/dropzone/min/dropzone.min.css")"> 
}


