@(active: String)(implicit userOpt: Option[User])
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DS13</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>      
      <ul class="nav navbar-nav navbar-right">
        @userNotDefined {
        <li @if(active == "войти")          { class="active" }><a href="@routes.PanelController.login"><span class="glyphicon glyphicon-log-in"></span> войти  </a></li>
        }
        @userOpt.map { user =>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>@views.html.admin.utils.userViewedName(user){ }</a></li>
        <li @if(active == "выйти")          { class="active" }><a href="#"                            ><span class="glyphicon glyphicon-log-out"></span> выйти</a></li>
        }
      </ul>
    </div>
  </div>
</nav>
