@import "main_common.less";

body {
  min-height: 2000px;
  padding-top: 70px;
}

.words-table-td {
  vertical-align: middle !important;
  font-size: 25px;
}

.word-select-item {
  background: rgb(245,245,255);
}

.word-select-item:hover {
  background: rgb(252,252,252);
  cursor: pointer;
  cursor: hand;
}
