@(activeMenu: Array[String])(implicit user: models.User)
<ul class="sidebar-menu">
  <li class="header">Меню</li>
  @sidebarMenuLink(activeMenu, "Панель", "fa-dashboard", controllers.routes.PanelController.panel())
  @sidebarMenuLink(activeMenu, "Профиль", "fa-dashboard", controllers.routes.UsersController.profile(user.id))
  @sidebarMenuTreeLink(activeMenu, "Пользователи", "fa-users", Map(
                "Список" -> controllers.routes.UsersController.list(1),
                "Создать" -> controllers.routes.PanelController.panel()))
  @sidebarMenuTreeLink(activeMenu, "Аккаунты", "fa-photo", Map(
                "Список" -> controllers.routes.AccountsController.list(1)))               
  @sidebarMenuTreeLink(activeMenu, "Медиа", "fa-image", Map(
                "Список" -> controllers.routes.MediaController.list(1)))                
</ul>
